body {
  background-color: black;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  color: whitesmoke;
}

main {
  width: 100%;
}

main canvas {
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
}

#display-panel-section {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'col1 col2 col3';
  width: 100%;
}

#button-menu {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-area: col1;
}

#button-menu button {
  margin-bottom: 0.5;
}

#button-menu button:hover {
  background-color: whitesmoke;
  color: black;
}

#button-menu button:disabled {
  display: none;
}

.button {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  border: none;
  color: whitesmoke;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border-radius: 5px;
  font-size: 2rem;
}

.button__big {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.button__small {
  font-size: 1.2rem;
  margin-top: 0.25rem;
}

#iterations-display {
  font-size: 2rem;
  justify-self: center;
  grid-area: col2;
}

#colors {
  padding-right: 5px;
  border: none;
  justify-self: right;
  grid-area: col3;
}

#colors td {
  padding: 5px;
  vertical-align: middle;
}

#colors .small-square {
  border: 1px solid white;
  border-radius: 5px;
  width: 25px;
  height: 25px;
}

#configs {
  visibility: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  font-size: 2.4rem;
}

#config-wrapper {
  display: flex;
}

#configs fieldset {
  position: flex;
  border: none;
}

#config-wrapper button {
  margin-left: 10rem;
  top: 20px;
  left: 50px;
}

@media only screen and (min-width: 701px) {
  .container {
    display: flex;
  }

  main {
    width: unset;
  }

  main canvas {
    max-width: 1200px;
  }

  #display-panel-section {
    grid-template-columns: 1fr;
    grid-template-areas:
      'row1'
      'row2'
      '.'
      '.'
      '.'
      'row3';
    width: 200px;
  }

  #colors {
    padding-left: 5px;
    justify-self: left;
    grid-area: row1;
  }

  #iterations-display {
    padding-left: 5px;
    justify-self: left;
    grid-area: row2;
  }

  #button-menu {
    padding-left: 5px;
    align-self: flex-end;
    grid-area: row3;
  }

  #button-menu button:disabled {
    display: unset;
    visibility: hidden;
  }
}
